# Esempio di mapping per pysiaalarm
# Posiziona questo file in <config_dir>/pysiaalarm_mapping.yaml e riavvia Home Assistant
# Formato:
# default_debounce_seconds: <float>  # valore di default per debounce
# sensors:
#   "BRACKET LABEL EXACT MATCH":
#     debounce_seconds: 1.5
#     friendly_name: "Cucina"
#   "ALTRA ETICHETTA":
#     debounce_seconds: 2.0
#     friendly_name: "Ingresso"

default_debounce_seconds: 1.44
default_debounce_seconds: 1.44
sensors:
  "P.CUCINA     CASA":
    debounce_seconds: 0.2
    friendly_name: "Finestra Cucina"
    type: contact
  "P.INGRESSO   CASA":
    debounce_seconds: 0.44
    friendly_name: "Ingresso"
    type: contact
  "P.SEMINTERRATOGARAGE":
    debounce_seconds: 1.44
    friendly_name: "Porta Seminterrato"
    type: contact
  "P.SALA CASA":
    debounce_seconds: 1.44
    friendly_name: Finestrone Salotto
    type: contact
  "BASCULANTE GARAGE":
    debounce_seconds: 1.44
    friendly_name: Basculante Garage
    type: contact
  "F.BAGNO MATR.CASA":
    debounce_seconds: 1.44
    friendly_name: Bagno Camera Matrimoniale
    type: contact
  "F.MATRIMONIALECASA":
    debounce_seconds: 1.44
    friendly_name: Finestra Camera Matrimoniale
    type: contact
  "P.TERRAZZA   CASA":
    debounce_seconds: 1.44
    friendly_name: Terrazza Casa
    type: contact
